.profile-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  margin-left: 200px;
}
.animated-text {
  display: flex;
  font-size: 2.8rem;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 100px;
}
.profile-card {
  text-align: center;
}
.profile-card p {
  font-size: 1.5rem;
  font-weight: gray;
}
.profile-card h2 {
  font-size: 2.5rem;
  color: gray;
}
.profile-card .btn {
  margin: 10px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
}
.profile-card .social-icons a {
  margin: 0 10px;
  color: black;
  font-size: 2.5rem;
}
@media screen and (max-width: 940px) {
  .profile-img  {
      margin-left: 0px;
      width: 300px;
      height: 300px;
  }
  .animated-text {
    margin-left: 20px;
      flex-wrap: wrap; /* Allow the text to wrap */
      justify-content: center; /* Center the text */
      white-space: normal; /* Allow wrapping */
      text-align: center; /* Center text on smaller screens */
      line-height: 1.2; /* Adjust line height to avoid overlapping */
    }
    .animated-text span {
      display: inline-block; /* Make each letter inline-block */
    }
  
  .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}